<!DOCTYPE html>
<html>
  <head>
    <title>FLST - Java EE - Lesson 3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      @import url(java.css);
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle, inverse

# Java EE et applications Web

## **J**ava **S**erver **P**ages

## Bibliothèques de Tags (*taglibs*)

---

class: center, middle, inverse

# **J**ava **S**erver **P**ages

---

# **J**ava **S**erver **P**ages

> La technologie JSP permet de séparer la couche de présentation (HTML) de la couche de traitement dans une application JavaEE.

La version actuelle (Java EE 7) est la 2.3 ([JSR-245](https://jcp.org/en/jsr/detail?id=245)). 

---

# **J**ava **S**erver **P**ages

* Une JSP est *presque* un fichier XML
* Une JSP peut être constituée de
  - Tags HTML
  - Tags JSP
  - Scriptlets (code Java)
* C'est généralement un fichier en `.jsp`
* Une JSP est compilée en Servlet par le conteneur

???

D'autres extensions existent (`jspf` pour les fragments).

---

# **J**ava **S**erver **P**ages

Les JSP permettent 3 types de tags :

* les directives :

```jsp
<%@ page ... @>     <!-- Paramètres de page -->
<%@ include ... @>  <!-- Inclusion d'un autre fichier (JSP, HTML...) -->
<%@ taglib ... @>   <!-- Déclare l'utilisation d'une taglib -->
```

* les scriptlets

```jsp
<% [code Java] %>
<%= [code Java dont le retour est inséré dans la page] %>
```

* les tags d'action, reflétant l'utilisation d'une taglib

---

# **J**ava **S**erver **P**ages

## Exemple taglib

```xml
<jsp:useBean id="monBean" scope="session" class="test.MonBean" />
<jsp:setProperty name="monBean" property="att" value="val"/>
<jsp:getProperty name="personne" property="nom" />
<jsp:forward page="forward.htm"/>
<jsp:include page="bandeau.jsp"/>
```

???

La taglib `jsp` est la taglib par défaut.

---

# **J**ava **S**erver **P**ages

Dans les scriptlets, certaines variables sont définies par défaut :

Variable   | Classe                                   | Description
-----------|------------------------------------------|------------------------------------
`out`      | `javax.servlet.jsp.JspWriter`            | Flux d'écriture de la page générée
`request`  | `javax.servlet.http.HttpServletRequest`  | Informations de la requête
`response` | `javax.servlet.http.HttpServletResponse` | Informations de la réponse
`session`  | `javax.servlet.http.HttpSession`         | Contient les données de session

???

Semblables aux paramètres de la `HttpServlet`

---

# **J**ava **S**erver **P**ages

Pour appeller une JSP, il faut lui transmettre une requête.

* directement, en l'appelant par son URL
* en lui transferrant (`include` ou `forward`) la requête depuis une `Servlet`

```java
request.getRequestDispatcher("hello.jsp").include(request, response);
```

???

[javax.servlet.RequestDispatcher](https://docs.oracle.com/javaee/7/api/javax/servlet/RequestDispatcher.html)

---

class: center, middle, inverse

# taglibs

---

# taglibs - définition

* *Tag Library*
* Ensemble de balises XML destinées à être utilisées comme tags d'action dans une JSP
* Composées par :
  - les classes Java qui implémentent le comportement des tags
  - un fichier *Tag Library Descriptor* (`.tld`)
    + Fait le lien entre une balise XML et une classe Java
* À la compilation de la JSP, les références aux tags sont remplacés par les 
  appels aux classes Java correspondantes

---

# taglibs - utilisation

Pour utiliser une taglib il faut la déclarer par une directive :

```xml
<%@ taglib uri="/WEB-INF/taglib.tld" prefix="tag-prefix" %>
```

Il est possible de référencer une fois pour toutes le *TLD* dans le `web.xml` :

```xml
<taglib>
  <taglib-uri>taglib-URI</taglib-uri>
  <taglib-location>/WEB-INF/lib/taglib.jar</taglib-location>
</taglib>
```

La directive devient alors :

```xml
<%@ taglib uri="taglib-URI" prefix="tag-prefix"%>
```

---

# taglibs - utilisation

Au sein d'une JSP, la taglib s'appelle simplement :

```xml
<tag-prefix:monTag attribut="valeur"/>
```

---

# taglibs - création

Définir le *TLD* :

```xml
<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-
jsptaglibrary_1_1.dtd">
<taglib>
  <tag>
    <name>hello</name>
    <tag-class>edu.flst.HelloTag</tagclass>
    <body-content>empty</bodycontent>
  </tag>
</taglib>
```

???

* `name` : nom XML du tag
* `tag-class` : nom complet de la classe Java d'implémentation
* `body-content` : contenu autorisé au sein du tag (`tagdependent`, `empty` ou `scriptless`)

[D'autres possibilités](https://docs.oracle.com/javaee/5/tutorial/doc/bnamu.html)

---

# taglibs - création

Implémenter l'interface `javax.servlet.jsp.tagext.Tag`

Type   | Method | Description
-------|--------|------------
`int`  | `doEndTag()`   | Process the end tag for this instance.
`int`  | `doStartTag()` | Process the start tag for this instance.
`Tag`  | `getParent()`  | Get the parent (closest enclosing tag handler) for this tag handler.
`void` | `release()`    | Called on a Tag handler to release state.
`void` | `setPageContext(PageContext pc)` | Set the current page context.
`void` | `setParent(Tag t)` | Set the parent (closest enclosing tag handler) of this tag handler.

La classe [`javax.servlet.jsp.tagext.TagSupport`](https://docs.oracle.com/javaee/7/api/javax/servlet/jsp/tagext/TagSupport.html) donne une implémentation par défaut qu'il est 
plus simple d'étendre.

---

# taglibs - création

`doStartTag()` doit retourner l'une de deux constantes :

* `Tag.EVAL_BODY_INCLUDE` : le corps est évalué et écrit dans la page.
* `Tag.SKIP_BODY` : le corps du tag est ignoré.

`doEndTag()` doit retourner l'une de deux constantes :

* `Tag.EVAL_PAGE` : le reste de la page est évalué
* `Tag.SKIP_PAGE` : le reste de la page est ignoré

---

# taglibs - création

Exemple :

```java
public class HelloTag extends TagSupport {
  public int doStartTag() throws JspException {
    try {
      pageContext.getOut().println ("Hello World!");
    } catch (IOException e) {
      throw new JspException ("I/O Error", e);
    }
    return SKIP_BODY;
  }
}
```

---

class: center, middle, inverse

# Questions ?

---

class: center, middle, inverse

# Travaux pratiques

---

# TP

* Reprendre l'application de gestion des *Todo lists*
* Les modifier pour extraire le code HTML dans des JSP
  - Les données à afficher peuvent être passées au travers de l'objet requête (`setAttribute`)
* Écrire une *taglib* permettant d'afficher une action de la todo

```xml
<todo:action title="Titre de l'action"/>
```


    </textarea>
    <script src="remark-latest.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
      var slideshow = remark.create();
    </script>
  </body>
</html>
