<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!--
{
    "marginTop": 15,
    "marginRight": 15,
    "marginBottom": 15,
    "marginLeft": 15,
    "pageSize": "A4",
    "footerRight": "Page [page] sur [toPage]"
}
-->
<title><%= documentTitle %></title>
<link rel="stylesheet" href="http://localhost/res-min/themes/base.css" />
<script type="text/x-mathjax-config">
MathJax.Hub.Config({ messageStyle: "none" });
</script>
<script type="text/javascript" src="http://localhost/res/bower-libs/MathJax/MathJax.js?config=TeX-AMS_HTML"></script>
<style>
table {
width: 100%;
}

table th, table td {
border: 0 !important;
}

table th {
display: none;
}

.pagebreak, h3
{
    page-break-before: always;
}

hr
{
    page-break-before: always;
    visibility: hidden;
}

h1, h2 {
  font-face: Calibri, sans;
  font-size: 14pt;
  font-weight: bold;
}

h2 {
border-bottom: 1px solid black;
text-align: center;
}

h1 {
border: 1px solid black;
text-align: center;
}
</style>
</head>
<body><%= documentHTML %></body>
</html>
